.match-centre {
  h2 {
    font-size: 28px;
    font-weight: normal;
    color: #001489;
    margin-bottom: 3vh;
  }
  p {
    font-size: 18px;
    font-weight: 300;
  }
  h5 {
    color: #242424;
    font-size: 26px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
  }
  .centre {
    width: 100%;
    background: url("./img/stamfordView.png") center center;
    background-size: cover;
  }
  .team {
    padding: 0;
    height: 76vh;
    margin-bottom: 3vh;
    h2 {
      padding: 2vh;
      margin: 0;
    }

    .team-list {
      height: 68vh;
      overflow-y: auto;
      padding: 2vh;
      ul {
        list-style: none;
        h4 {
          margin-left: 5vh;
          margin-bottom: 2vh;
        }
        .player-row {
          margin-bottom: 1vh;
          h5 {
            font-family: "Arvo", sans-serif;
            color: #001489;
            font-size: 18px;
            width: 5vh;
          }
          strong {
            color: #242424;
            font-weight: 500;
          }
          p {
            &:hover {
              cursor: pointer;
              color: #001489;
              strong {
                color: #001489;
              }
            }
          }
          display: flex;
          align-items: center;
        }
        .player-row:last-child {
          margin-bottom: 4vh;
        }
      }
    }
  }

  .lineup {
    position: relative;
    height: 76vh;
    background-color: #182dab;
    margin-bottom: 3vh;
    padding: 2vh;
    ul {
      padding-left: 3vh;
      list-style: none;
      li {
        display: flex;
        margin-bottom: 1.5vh;
        justify-content: space-between;

        .player {
          display: flex;
          &:hover {
            cursor: pointer;
            h4,
            h3 {
              color: #d1d1d1;
            }
          }
        }
        .goals {
          z-index: 1;
          button {
            width: 40px;
            height: 40px;
            border: none;
            img {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
    h4 {
      font-family: "Arvo", sans-serif;
      font-size: 36px;
      width: 7vh;
    }
    h3 {
      z-index: 3;
      font-size: 36px;
      font-family: "Poppins", sans-serif;
      font-weight: 600;
    }
    h2,
    h3,
    h4 {
      color: white;
    }
    .img-lion {
      position: absolute;
      bottom: 0;
      right: 0;
      height: 37vh;
      img {
        height: 100%;
      }
    }
  }
  .result {
    height: 30vh;
    margin-bottom: 3vh;
    .team-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 3vh;
      span {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .img-result {
        height: 70px;
        margin-right: 2vh;
        img {
          height: 100%;
        }
      }
    }
  }
  .scorers {
    height: 43vh;
    h2 {
      margin-bottom: 1vh;
    }
    h3 {
      text-align: center;
    }
    p {
      margin-bottom: 2vh;
    }
    ul {
      list-style: none;
      padding: 0 2vh 0 2vh;
      li {
        display: flex;
        align-items: center;
        margin-bottom: 1vh;
        h5 {
          font-family: "Montserrat", sans-serif;
          color: #001489;
          font-weight: 500;
          font-size: 20px;
        }
        .img {
          width: 40px;
          margin-right: 2vh;
          img {
            width: 100%;
          }
        }
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  .ratings {
    text-align: center;
    background-color: #efefef;
    header {
      margin-top: 7vh;
      padding-bottom: 8vh;
      background-color: white;
      h1 {
        margin-bottom: 3vh;
        color: #001489;
        font-size: 56px;
        font-weight: 500;
        text-align: center;
      }
      p {
        width: 45%;
        margin: 0 auto 0 auto;
        text-align: center;
      }
    }
    button {
      margin: 4vh 0 8vh 0;
    }
    .rating {
      display: flex;
      padding: 0;
      margin-top: 3vh;
      .info {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        padding: 2vh;
        h2 {
          color: #001489;
          margin: 0;
          font-weight: 500;
          font-size: 26px;
        }
        input {
          width: 90px;
          font-size: 40px;
          text-align: center;
          margin: 0;
        }
      }
      .img-place {
        height: 200px;
        padding-top: 2vh;
        img {
          height: 100%;
        }
      }
    }
  }
}

@media screen and(max-width: 1200px) {
  .match-centre {
    .centre {
      background: #efefef;
    }
  }
}
