.home .main-header {
  width: 100%;
  height: 95vh;
  background: url("./img/stamfordView.png") center center;
  background-size: cover;
  padding: 2vh;
}

.home .main-info {
  margin-top: 14vh;
  text-align: center;
}

.home .main-info h1 {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 62px;
}

.home .main-info p {
  margin: 3vh auto 3vh auto;
  font-weight: 300;
  color: #efefef;
  font-size: 18px;
  width: 60%;
}

.home .main-info button {
  margin: 0 1vh 1vh 1vh;
}

.home .counter-block {
  margin: 7vh auto 7vh auto;
  width: 60%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .counter-block p {
  font-family: "Poppins", sans-serif;
  color: #898989;
  font-weight: 300;
  font-size: 24px;
  width: 100%;
  text-align: center;
}

.home .counter-block p strong {
  color: #242424;
  font-weight: normal;
}

.home .counter-block .timer {
  margin-bottom: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home .counter-block .timer span {
  width: 3vh;
}

.home .counter-block .timer h1 {
  font-size: 68px;
  font-weight: 500;
  color: #001489;
}

.home .counter-block .timer .seconds {
  min-width: 15vh;
}

.home .about-info {
  margin-top: 6vh;
}

.home .about-info h2 {
  text-align: center;
  color: #001489;
  font-size: 48px;
  margin-bottom: 3vh;
}

.home .about-info p {
  font-weight: 300;
  font-size: 18px;
  text-align: center;
  margin: 0 auto 0 auto;
  width: 50%;
  margin-bottom: 8vh;
}

.home .matches {
  background-color: #efefef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5vh 0 2vh 0;
}

.home .matches .match-block {
  margin: 0 1.5vh 3vh 1.5vh;
  background-color: white;
  -webkit-box-shadow: 0 2px 4px 0 rgba(185, 185, 185, 0.2), 0 3px 10px 0 rgba(206, 206, 206, 0.19);
          box-shadow: 0 2px 4px 0 rgba(185, 185, 185, 0.2), 0 3px 10px 0 rgba(206, 206, 206, 0.19);
  width: 68vh;
}

.home .matches .match-block header {
  padding: 2vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .matches .match-block header h2 {
  font-weight: normal;
  color: #001489;
  font-size: 36px;
}

.home .matches .match-block header h3 {
  font-weight: 500;
  font-size: 24px;
}

.home .matches .match-block header h3 strong {
  font-weight: 500;
  color: #001489;
}

.home .matches .match-block header .match-sm-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home .matches .match-block header .match-sm-data p {
  font-weight: 300;
  color: #a3a3a3;
  margin-right: 1vh;
}

.home .matches .match-block header .match-sm-data p strong {
  font-weight: normal;
  color: #001489;
}

.home .matches .match-block main {
  height: 25vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .matches .match-block main h5 {
  font-family: "Arvo", sans-serif;
  font-weight: 400;
  margin: 0 5vh 0 5vh;
  color: #242424;
  font-size: 32px;
}

.home .matches .match-block main .logoImg {
  width: 10vh;
  height: 10vh;
}

.home .matches .match-block main .logoImg img {
  width: 100%;
  height: 100%;
}

.home .matches .match-block footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .important-numbers {
  width: 40%;
  height: 100%;
  margin: 0 auto 0 auto;
  padding: 2vh;
}

.home .important-numbers h2 {
  color: white;
  font-weight: 600;
  font-size: 34px;
}

.home .important-numbers ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  margin-top: 6vh;
}

.home .important-numbers ul li {
  text-shadow: 2px 6px 20px rgba(0, 0, 0, 0.5);
  margin-bottom: 4vh;
}

.home .important-numbers ul li h2 {
  font-weight: normal;
  color: #efefef;
  text-align: start;
  font-size: 40px;
}

.home .important-numbers ul li h2 strong {
  font-weight: 600;
}

.home .important-numbers ul li p {
  text-align: right;
  font-weight: 300;
  color: #afafaf;
  font-size: 20px;
}

.home .important-numbers ul li .separator {
  width: 100%;
  margin: 1vh 0 1vh 0;
}

.home .important-numbers ul li .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home .main-footer {
  background-color: #efefef;
}

.home .stats {
  height: 92vh;
  padding: 4vh;
  background: url("./img/playersView.png") center center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home .table-container {
  width: 50%;
  height: 100%;
  background-color: white;
  padding: 2vh;
  margin-left: 2vh;
}

.home .table-container h2 {
  color: #001489;
  margin-bottom: 3vh;
}

.home .table-container table {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  border-collapse: collapse;
}

.home .table-container table thead {
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
}

.home .table-container table th,
.home .table-container table td {
  padding: 10px;
}

.home .table-container table th {
  color: #898989;
}

.home .table-container table td {
  color: #242424;
}

.home .table-container table td p {
  font-weight: 600;
  color: #001489;
}

.home .table-container table .points {
  font-weight: 600;
}

.home .table-container table .team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .table-container table .team .img-table {
  width: 4vh;
  width: 4vh;
  margin-right: 1vh;
}

.home .table-container table .team .img-table img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 992px) {
  .home .matches {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home .matches .match-block {
    width: 90%;
  }
  .home .matches .match-sm-data {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .home .stats .important-numbers {
    display: none;
  }
  .home .stats .table-container {
    margin: 0;
    width: 100%;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p {
  font-family: "Poppins", sans-serif;
  margin: 0;
  color: #898989;
}

h1,
h2,
h3 {
  color: #242424;
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

.main-menu {
  margin-bottom: 3vh;
}

.main-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.main-menu ul li {
  width: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-menu ul .nav-link {
  text-decoration: none;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
}

.separator-sm {
  background-color: #d9d9d9;
  width: 18vh;
  height: 1px;
  margin: 3vh 0 3vh 0;
}

.separator {
  background-color: #d9d9d9;
  width: 40%;
  height: 1px;
  margin: 2vh auto 2vh auto;
}

button {
  width: 23vh;
  height: 6vh;
  background-color: transparent;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  border: 2px solid;
  cursor: pointer;
}

.white {
  color: white;
  border-color: white;
}

.blue {
  color: #001489;
  border-color: #001489;
}
/*# sourceMappingURL=main.css.map */